body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

h1, h2, h3, p {
    text-align: center;
}

#countdown {
    font-size: 4em;
    color: #ff0000;
    text-align: center;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content {
    position: relative;
    color: black;  /* Change this color to make your text visible on the image */
    text-align: center;
    padding: 20px;
}
.pink {
    color: #C71585;  /* Dark pink */
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.purple {
    color: purple;
}

.green {
    color: green;
}

.yellow {
    color: orange;
}
